/* Login register CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url();
  /* background-image: url(https://wallpapercave.com/wp/wp2672827.jpg); */
  font-family: 'Rubik', sans-serif;
}

.login-form {
  background: #fff;
  width: 800px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.login-form h1 {
  padding: 35px 35px 0 35px;
  font-weight: 300;
  text-align: center;
  color: #803372;
}

.login-form .content {
  padding: 35px;
}

.login-form .input-field {
  padding: 12px 5px;
}

.login-form .input-field input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.content .input-field{
  font-size: 23px;
}

.login-form a.link {
  text-decoration: none;
  color: #803372;
  letter-spacing: 0.2px;
  display: inline-block;
  margin-top: 20px;
}

.login-form a.link:hover{
    color: blue;
}

.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.login-form .action button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #472c49;
  color: rgb(255, 255, 255);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.login-form .action input:hover {
  background: #000000;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  }
  
  .login-form .action input {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #472c49;
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  .input-field{
    font-size: 40px;
  }











    @media (min-width: 1024px) {

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      body {
        /*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzmevr7YgGfhP1zSlVYtqzitM1N8q_KI965Q&usqp=CAU);
        background-size: contain;
         background-image: url(https://wallpapercave.com/wp/wp2672827.jpg); */
        font-family: 'Rubik', sans-serif;
      }

       body { 
        background: url(https://i.pinimg.com/736x/d1/b0/83/d1b083ac9d9344250908137e08d6eb20.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        /* Images
        https://images.wallpapersden.com/image/download/cloudy-mountains_a2toaWWUmZqaraWkpJRmbmdlrWZlbWU.jpg

        https://w.wallhaven.cc/full/2e/wallhaven-2evz6x.png ----- contact image

        bubbles - https://images.unsplash.com/photo-1594165681163-1b85559cf250?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjB8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80

        door - https://images.unsplash.com/photo-1524562787295-1608217aa823?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80

        lavender - https://wallpapercave.com/wp/wp7334578.jpg

        study room - https://st.hzcdn.com/simgs/pictures/kabinety/kraski-tikkurila-dlya-rabochih-mest-tikkurila-russia-img~9031fb7309c3a7fd_14-1322-1-df27c6d.jpg

        study table - https://i.pinimg.com/originals/5c/2b/21/5c2b21f66c619957a09624ce0be2c834.jpg

        study table 3 - https://i.pinimg.com/736x/c4/73/ae/c473aeecb922ce8f598941bf7c033a8d.jpg

        study table 2 - https://i.pinimg.com/736x/d1/b0/83/d1b083ac9d9344250908137e08d6eb20.jpg
        */

      }

      .login-form {
        background: transparent;
        width: 500px;
        margin: 65px auto;
        display: -webkit-box;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
      }
      
      .login-form h1 {
        padding: 35px 35px 0 35px;
        font-weight: 300;
        text-align: center;
        color:antiquewhite;
        /* color: #803372; */
      }
      
      .login-form .content {
        padding: 35px;
      }
      
      .login-form .input-field {
        padding: 12px 5px;
        border-radius: 30px;
      }
      
      .login-form .input-field input {
        font-size: 16px;
        display: block;
        font-family: 'Rubik', sans-serif;
        width: 100%;
        padding: 10px 1px;
        border: 0;
        border-bottom: 1px solid #747474;
        outline: none;
        -webkit-transition: all .2s;
        transition: all .2s;
        border-radius: 20px;
      }
      
      .login-form a.link {
        text-decoration: none;
        color: #803372;
        letter-spacing: 0.2px;
        display: inline-block;
        margin-top: 20px;
      }
      
      .login-form a.link:hover{
          color: blue;
      }
    
      .login-form .action {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
      }
      
      .login-form .action button {
        width: 100%;
        border: none;
        padding: 18px;
        font-family: 'Rubik', sans-serif;
        cursor: pointer;
        text-transform: uppercase;
        background: #472c49;
        color: rgb(255, 255, 255);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 0;
        letter-spacing: 0.2px;
        outline: 0;
        -webkit-transition: all .3s;
        transition: all .3s;
      }
      
      .login-form .action button:hover {
        background: #000000;
        color: white;
      }
    
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        }
    
        .input-field textarea{
          width: 420px;
          background: transparent;
        }

        .link{
          padding-left: 50px;
        }

        .link-login{
          padding-left: 70px;
        }

        .login-form a.link-login {
          text-decoration: none;
          color: #747474;
          /* color: #803372; */
          letter-spacing: 0.2px;
          display: inline-block;
          margin-top: 20px;
        }
        
        .login-form a.link-login:hover{
            color: blue;
        }
      
    }