*{

    color: #1F1D36;    color: #3F3351;    color: #864879;   color: #E9A6A6;


    color: #73436D;    color: #E5E6E9;    color: #B67C9A;   color: #1F252F;


    color: #4C223D;    color: #703A4B;    color: #e9c1d5;   color: #E7E6E1;


   
                                 /* Pasture Of Dreams */                   
    color: #D3B1C2;      color: #C197D2;    color: #211522;   color: #613659;

}